@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$black: #040403;
$primary: #066f6c;
$padding-left: 9rem;
$padding-left-small: 3rem;
$bg: white;

@mixin respond-medium {
	@media only screen and (max-width: 1115px) {
		@content;
	}
}

@mixin respond-small {
	@media only screen and (max-width: 500px) {
		@content;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.cursor {
	width: 3rem;
	height: 3rem;
	border: 3px solid $primary;
	position: fixed;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	pointer-events: none;
	transition: all 0.3s ease;
	transition-property: background, transform;
	z-index: 2;
	transform-origin: 100% 100%;
	backdrop-filter: grayscale;
	background: rgba(0, 0, 0, 0.05);

	@include respond-small {
		display: none;
	}

	@include respond-medium {
		display: none;
	}
}

.cursor-grow {
	transform: scale(2);
	background: $black;
	border: none;
	z-index: 1;
}

body {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	background: $bg;
}

nav {
	padding: 0 $padding-left;
	position: absolute;
	top: 0;
	left: 0;
	height: 10rem;
	width: 100vw;
	display: flex;
	z-index: 1;

	@include respond-small {
		padding: 0 $padding-left-small;
		height: 5rem;
		// background: rgba(0, 0, 0, 0.03);
	}

	ul {
		width: 100%;
		list-style: none;
		display: flex;
		align-items: center;

		@include respond-small {
			justify-content: space-between;
		}

		li > a {
			text-decoration: none;
			color: $black;
			font-weight: 400;
			padding: 2rem 0rem 2rem 3rem;
			margin-left: 4rem;

			@include respond-small {
				padding: 0;
				margin-left: 0;
				font-size: 1rem;
			}
		}

		.logo {
			font-size: 2.2rem;
			color: $primary;

			@include respond-small {
				font-size: 1.2rem;
			}
		}

		:nth-child(2) {
			margin-left: auto;
			@include respond-small {
				margin: 0;
			}
		}
	}
}

.link-color {
	color: white;
	font-weight: 500;
}

h1 {
	all: unset;
	font-size: 13.5rem;
	font-weight: 600;
	color: $primary;

	@include respond-small {
		font-size: 6rem;
	}
}

h2 {
	all: unset;
	font-size: 3.5rem;
	padding-left: 1rem;
	margin-top: -2rem;
	font-weight: 300;
	opacity: 60%;

	@include respond-small {
		margin-top: 0rem;
		font-size: 1.5rem;
		padding-left: 0rem;
	}
}

.main {
	height: 100vh;
	padding: 0 $padding-left;
	position: relative;
	width: 100%;

	@include respond-small {
		padding: 0 $padding-left-small;
		height: 55rem;
	}

	#particles {
		height: 100%;
		position: absolute;
		z-index: -1;
		margin-left: -$padding-left;
		width: 100%;

		@include respond-small {
			margin-left: -$padding-left-small;
		}
	}
	.hero {
		padding-top: 20rem;
		display: flex;
		flex-direction: column;
		align-items: start;

		@include respond-small {
			padding-top: 9rem;
			align-items: center;
		}

		h1,
		h2 {
			background: rgba(255, 255, 255, 0.479);
		}

		.cta {
			display: flex;
			margin-top: 4rem;
			margin-left: 1.2rem;
			cursor: pointer;

			@include respond-small {
				flex-direction: column;
				justify-content: center;
			}

			.btn {
				display: flex;
				align-items: center;
				border-radius: 1rem;

				.text {
					display: flex;
					flex-direction: column;
					.top {
						font-size: 16px;
					}
					.bottom {
						font-size: 30px;
					}
					@include respond-small {
						.top {
							font-size: 13px;
						}
						.bottom {
							font-size: 23px;
						}
					}
				}
			}

			.apple {
				background: $black;
				padding: 0.7rem 1rem 0.7rem 0;
				img {
					width: 5rem;
					height: 3.1rem;
					filter: brightness(0) invert(1);
				}
				.text {
					color: white;
				}
			}

			.play {
				margin-left: 2rem;
				border: 2px solid $black;
				padding: 0.7rem 1rem 0.7rem 0.5rem;
				background: $bg;

				@include respond-small {
					margin: 1rem 0 0 0;
				}
				img {
					width: 4rem;
					height: 3rem;
					margin-right: 0.1rem;
				}
			}
		}
	}

	.screenshots {
		position: absolute;
		right: 9rem;
		top: 13rem;
		transform: rotate(-14.73deg);
		width: 34rem;
		// border-radius: 10rem;
		.phone {
			width: 100%;
			height: 100%;
			// box-shadow: 5px 5px 10px rgb(0, 0, 0);
			border: 2px solid $black;
			border-radius: 4rem;
		}

		@include respond-small {
			width: 15rem;
			left: 50%;
			right: none;
			top: 36rem;
			transform: translateX(-45%);

			.phone {
				border-radius: 2rem;
			}
		}
	}
}

.categories {
	height: 100vh;
	background: $black;
	overflow: hidden;
	display: flex;

	@include respond-small {
		height: max-content;
		flex-direction: column;
	}

	.tiles {
		padding-left: $padding-left;
		display: flex;

		.tile {
			width: 26rem;
			height: 25rem;
			border-radius: 1.5rem;
			margin-bottom: 3rem;
			object-fit: cover;
		}

		.left,
		.right {
			display: flex;
			flex-direction: column;
		}

		.left {
			margin-top: -7rem;
		}

		.right {
			margin-top: -3rem;
			margin-left: 4rem;
		}

		@include respond-small {
			padding-left: 0;
			margin-top: 15rem;
			flex-direction: column;
			margin-left: -4.5rem;
			.tile {
				width: 42vw;
				height: 42vw;
				margin-right: 1rem;
			}
			.left,
			.right {
				flex-direction: row;
				margin: 0;
			}
			.right {
				margin-left: 3rem;
			}
		}
	}

	.info {
		color: $bg;
		margin-top: 25rem;
		margin-left: 7rem;

		.words {
			.word {
				position: absolute;
				opacity: 0;
				font-size: 4rem;
			}

			.letter {
				display: inline-block;
				position: relative;
				// float: left;
				transform: translateZ(25px);
				transform-origin: 50% 50% 25px;
			}

			.letter.out {
				transform: rotateX(90deg);
				transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
			}

			.letter.behind {
				transform: rotateX(-90deg);
			}

			.letter.in {
				transform: rotateX(0deg);
				transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}
		}

		.covered {
			margin-top: 15rem;
		}

		h2 {
			opacity: 1;
			font-weight: 300;
		}

		h3 {
			font-size: 7rem;
		}

		@include respond-small {
			margin: 0;
			margin-bottom: 3rem;
			.words {
				margin-top: 2rem;
				display: flex;
				justify-content: center;
				.word {
					font-size: 3rem;
				}
			}
			.covered {
				margin-top: 10rem;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			h2 {
				font-size: 1rem;
			}
			h3 {
				font-size: 4rem;
			}
		}
	}
}

.purpose {
	height: 100vh;
	padding: $padding-left;
	padding-top: $padding-left - 2rem;
	display: flex;

	.title {
		white-space: nowrap;
		h2 {
			padding: 0;
			margin: 0;
			opacity: 100%;
		}
		h3 {
			font-size: 7rem;
			margin-top: 2rem;
		}
	}

	.body {
		line-height: 2.2rem;
		margin-left: 7rem;
		margin-right: 5rem;
		letter-spacing: -0.005rem;
	}

	@include respond-small {
		height: max-content;
		flex-direction: column;
		padding: $padding-left-small + 1rem $padding-left-small;
		align-items: center;

		.title {
			text-align: center;
			line-height: 4rem;
		}

		.body {
			margin: 0;
			margin-top: 4rem;
			font-size: 0.7em;
			line-height: 1.8rem;
		}
	}
}

.footer {
	height: 30vh;
	background: #fafafa;
	padding: $padding-left;
	padding-top: $padding-left - 5rem;
	display: flex;
	justify-content: space-between;

	h4 {
		color: #066f6c;
		font-size: 2rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
	}

	.items {
		flex-basis: 70%;
		display: flex;
		justify-content: space-between;
		h5 {
			color: #9c9c9c;
			margin-bottom: 2rem;
			font-weight: 500;
		}

		a {
			text-decoration: none;
			color: black;
			font-size: 1rem;
		}

		.download {
			.cta {
				display: flex;
				cursor: pointer;
				margin-top: 2rem;

				.btn {
					display: flex;
					align-items: center;
					border-radius: 1rem;

					.text {
						display: flex;
						flex-direction: column;

						.top {
							font-size: 16px;
						}
						.bottom {
							font-size: 30px;
						}
					}
				}

				.apple {
					background: $black;
					padding: 0.7rem 1rem 0.7rem 0;
					img {
						width: 5rem;
						height: 3.1rem;
						filter: brightness(0) invert(1);
					}
					.text {
						color: white;
					}
				}

				.play {
					margin-left: 2rem;
					border: 2px solid $black;
					padding: 0.7rem 1rem 0.7rem 0.5rem;
					background: $bg;
					img {
						width: 4rem;
						height: 3rem;
						margin-right: 0.1rem;
					}
				}
			}
		}
	}

	@include respond-small {
		height: max-content;
		padding: $padding-left-small - 2rem $padding-left-small;
		flex-direction: column;
		align-items: center;
		text-align: center;
		.items {
			flex-direction: column;
			& > * {
				margin: 1rem 0;
			}
			h5 {
				font-size: 0.8rem;
				margin: 0rem;
			}
			.download > .cta {
				margin-top: 1rem;
				flex-direction: column;
				justify-content: center;
				.btn .text {
					.bottom {
						font-size: 20px;
					}
				}
				.play {
					margin: 0.5rem 0 0 0;
				}
			}
		}
	}
}
