| Share is a mobile based platform for renting tools/equipment/leisure items (really anything you can think of) from members within your community. The idea is being able to find whatever you need around the corner, at the right price, and the ability to return it once you are done using it. No one would ever lend out their belongings to a complete stranger; but what if you facilitated a safe online interaction with verified reviews and ratings then incorporated secure payments into the mix. We have seen first-hand how successful this model is.
br
br
| Communities rejoice!
br
br
| We can now find a spare tennis racket when our friend comes to visit, folding chairs when we are entertaining, and a ladder to finally clean out the gutters (pure joy). And the best part, we don&rsquo;t even have to find a place to store it all! Renters and item owners negotiate a set rental duration, one hour item pick-up window and a daily rate so every transaction is smooth and no box is ever left unchecked.
br
br
| Conversely, Item owners can now make money on all the items collecting dust in their garage. Who would have thought that leaf blower sitting in the shed could actually make money? The entire concept of ownership is transforming. Sunk costs are now revenue generators and unused resources can be fully utilized within a village. A typical shovel can pay for itself after about 3 rentals (Not bad).
br
br
Strong So get out there, meet your neighbors, try a new hobby, no more making excuses for that side project you&rsquo;ve been putting off. The weekend is here and the world is our oyster.